In [13]:
import warnings
warnings.filterwarnings('ignore')

# text extraction from abstracts
import numpy as np
import pandas as pd

EDIT THIS CELL

Names:

/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/digital_twin/ready_DIG_T_DF
/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/modelling_and_consciousness/ready_MOD_CON_DF
/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/neuroscience_identity/ready_NEU_ID_DF
/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/neuroscience_personality/ready_NEU_PER_DF

In [76]:
name_i = "/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/neuroscience_personality/ready_NEU_PER_DF"
name_f = "/home/mrinalmanu/Desktop/analyse_pubmed_search_results/FINAL/topics/neuroscience_personality/ready_NEU_PER_DF_pre_cleaned"

In [77]:
# Load in the dataframe
df = pd.read_csv(name_i)

In [78]:
df.head(1)

,FinalDF.doi,FinalDF.pmid,FinalDF.year,FinalDF.number_of_authors,FinalDF.journal,FinalDF.title,FinalDF.abstract,FinalDF.auth_1,FinalDF.auth_2
0,10.1111/j.1476-5381.2010.01163.x,21175576,2011,2,Br J Pharmacol,Animal modelling of traumatic brain injury in ...,Traumatic brain injury (TBI) is the leading ca...,Niklas Marklund,"Department of Neuroscience, Neurosurgery, Upps..."

In [79]:
df.columns

Index(['FinalDF.doi', 'FinalDF.pmid', 'FinalDF.year',
       'FinalDF.number_of_authors', 'FinalDF.journal', 'FinalDF.title',
       'FinalDF.abstract', 'FinalDF.auth_1', 'FinalDF.auth_2'],
      dtype='object')

In [80]:
df.columns = ['doi', 'pmid', 'year', 'number_authors', 'journal', 'title','abstract','author', 'affiliation']
df.head(n=1)

,doi,pmid,year,number_authors,journal,title,abstract,author,affiliation
0,10.1111/j.1476-5381.2010.01163.x,21175576,2011,2,Br J Pharmacol,Animal modelling of traumatic brain injury in ...,Traumatic brain injury (TBI) is the leading ca...,Niklas Marklund,"Department of Neuroscience, Neurosurgery, Upps..."

In [81]:
# Adding country info


df_n = df

# Remove email addresses

df_n['affiliation'] = df_n['affiliation'].str.replace('\S*@\S*\s?','').str.replace(' +',' ').str.strip()

# remove non-character symbols

df_n['affiliation'] = df_n['affiliation'].str.replace('[^A-z ]','').str.replace(' +',' ').str.strip()

# drop NAs

df_n = df_n[df_n['affiliation'].notna()]

# handling tricky countries to the best of my knowledge

df_n['affiliation'] = df_n['affiliation'].str.replace('Iran','IR').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Korea',"KR").str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Tanzania','TZ').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Venezuela','VE').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('United States','USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('USA of America','USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('United Kingdom','UK').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Taiwan','TW').str.replace(' +',' ')


df_n['affiliation'] = df_n['affiliation'].str.replace('Indiagrid','India').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('New York','New York USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Dallas','Dallas USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Czech Republic','CZ').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Massachusetts','Massachusetts USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('HoustonDowntown','HoustonDowntown USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Lisboa','Lisboa Portugal').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Hong Kong','HK').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Houston TX','Houston TX USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Tianjin','Tianjin China').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Peking University','Peking University China').str.replace(' +',' ')


df_n['affiliation'] = df_n['affiliation'].str.replace('Tianjin','Tianjin China').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Tianjin','Tianjin China').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Pittsburg','Pittsburg USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('California Davis','California Davis USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Viet Nam','VN').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('New Zealand','NZ').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('MI','Miami USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Utah','Utah USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Mount Sinai','Mount Sinai USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Russia','RU').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Russiagridd','RU').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Russiagrid','RU').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Tokyo','Tokyo Japan').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Wisconsin Parkside','Wiskonsin Parkside USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Penn State DuBois','Penn State DuBois USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('California Irvine','California Irvine USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('West Virginia University','West Virginia University USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('IRgrid','IR').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('North Carolina at Chapel Hill','North Carolina at Chapel Hill USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Champaign Illinois','Champaign Illinois USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Norwaygridf','Norway').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Belgiumgrid','Belgium').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Greecegrid','Greece').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Michigan','Michigan USA').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Tennessee','Tennessee USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('YangMing University','YangMing University TW').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Seattle WA','Seattle WA USA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Saudi Arabia','Saudi Arabia SA').str.replace(' +',' ')


df_n['affiliation'] = df_n['affiliation'].str.replace('South Africa','South Africa ZA').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Indiaa','India').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Novi Sad','Novi Sad Serbia').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Japangridd','Japan').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('Japangrid','Japan').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Beijing','Beijing China').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Beijing','Beijing China').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Chinese','China Chinese').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Taipei','TW Taipei').str.replace(' +',' ')
df_n['affiliation'] = df_n['affiliation'].str.replace('German',' Germany').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Netherlands','Netherlands ').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Germanyy','Germany').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Totonto','Toronto Canada').str.replace(' +',' ')

df_n['affiliation'] = df_n['affiliation'].str.replace('Edinburgh','Edinburgh UK').str.replace(' +',' ')

In [82]:
import pandas as pd
import pycountry_convert as pc
import pycountry
from itertools import compress

continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'APAC',
    'OC': 'APAC',
    'AF': 'Africa',
    'EU': 'Europe'
}

regions = ["APAC", "EMEA", "NA", "SA"]

lc = list(pycountry.countries)

exceptions = {"UK": "EMEA"}
countries = [lc[i].name for i in range(len(lc))] + \
            [lc[i].alpha_2 for i in range(len(lc))] + \
            [lc[i].alpha_3 for i in range(len(lc))] + ["UK"]
        
dataset = df_n

# Assuming proper division of words
dataset["Countries"] = dataset["affiliation"].apply(lambda x: [list(compress(x.split(" "), [x.split(" ")[i] in countries for i in range(len(x.split(" ")))])) + ["Global"]][0][0])

for i in range(len(dataset)):
    if dataset.iloc[i,3] == "Local":
        try:
            c = pc.country_name_to_country_alpha2(dataset.iloc[i,2], cn_name_format="default")
            c = pc.country_alpha2_to_continent_code(c)
            dataset.iat[i,3] = c
        except:
            try:
                c = pc.country_alpha2_to_continent_code(dataset.iloc[i,2])
                dataset.iat[i,3] = c
            except:
                try:
                    c = pc.country_alpha3_to_continent_code(dataset.iloc[i,2])
                    dataset.iat[i,3] = c                    
                except:
                    if dataset.iloc[i,2] in list(exceptions.keys()):
                        dataset.iat[i,3] = exceptions[dataset.iloc[i,2]]
        try:
            dataset.iat[i,3] = continents[dataset.iloc[i,3]]
        except:
            pass

Removing Global tags, as these are missing info

In [83]:
rm_list = ['Global']
dataset = dataset[~dataset['Countries'].isin(rm_list)]
'We are left with this many'
len(dataset)

749

Additionally, let's clean the names of countries from 'affiliation' to get only university names.

In [84]:
iso_code = {'Afghanistan': 'AF',
 'Albania': 'AL',
 'Algeria': 'DZ',
 'American Samoa': 'AS',
 'Andorra': 'AD',
 'Angola': 'AO',
 'Anguilla': 'AI',
 'Antarctica': 'AQ',
 'Antigua and Barbuda': 'AG',
 'Argentina': 'AR',
 'Armenia': 'AM',
 'Aruba': 'AW',
 'Australia': 'AU',
 'Austria': 'AT',
 'Azerbaijan': 'AZ',
 'Bahamas': 'BS',
 'Bahrain': 'BH',
 'Bangladesh': 'BD',
 'Barbados': 'BB',
 'Belarus': 'BY',
 'Belgium': 'BE',
 'Belize': 'BZ',
 'Benin': 'BJ',
 'Bermuda': 'BM',
 'Bhutan': 'BT',
 'Bolivia, Plurinational State of': 'BO',
 'Bonaire, Sint Eustatius and Saba': 'BQ',
 'Bosnia and Herzegovina': 'BA',
 'Botswana': 'BW',
 'Bouvet Island': 'BV',
 'Brazil': 'BR',
 'British Indian Ocean Territory': 'IO',
 'Brunei Darussalam': 'BN',
 'Bulgaria': 'BG',
 'Burkina Faso': 'BF',
 'Burundi': 'BI',
 'Cambodia': 'KH',
 'Cameroon': 'CM',
 'Canada': 'CA',
 'Cape Verde': 'CV',
 'Cayman Islands': 'KY',
 'Central African Republic': 'CF',
 'Chad': 'TD',
 'Chile': 'CL',
 'China': 'CN',
 'Christmas Island': 'CX',
 'Cocos (Keeling) Islands': 'CC',
 'Colombia': 'CO',
 'Comoros': 'KM',
 'Congo': 'CG',
 'Congo, the Democratic Republic of the': 'CD',
 'Cook Islands': 'CK',
 'Costa Rica': 'CR',
 'Country name': 'Code',
 'Croatia': 'HR',
 'Cuba': 'CU',
 'Curaçao': 'CW',
 'Cyprus': 'CY',
 'Czech Republic': 'CZ',
 "Côte d'Ivoire": 'CI',
 'Denmark': 'DK',
 'Djibouti': 'DJ',
 'Dominica': 'DM',
 'Dominican Republic': 'DO',
 'Ecuador': 'EC',
 'Egypt': 'EG',
 'El Salvador': 'SV',
 'Equatorial Guinea': 'GQ',
 'Eritrea': 'ER',
 'Estonia': 'EE',
 'Ethiopia': 'ET',
 'Falkland Islands (Malvinas)': 'FK',
 'Faroe Islands': 'FO',
 'Fiji': 'FJ',
 'Finland': 'FI',
 'France': 'FR',
 'French Guiana': 'GF',
 'French Polynesia': 'PF',
 'French Southern Territories': 'TF',
 'Gabon': 'GA',
 'Gambia': 'GM',
 'Georgia': 'GE',
 'Germany': 'DE',
 'Ghana': 'GH',
 'Gibraltar': 'GI',
 'Greece': 'GR',
 'Greenland': 'GL',
 'Grenada': 'GD',
 'Guadeloupe': 'GP',
 'Guam': 'GU',
 'Guatemala': 'GT',
 'Guernsey': 'GG',
 'Guinea': 'GN',
 'Guinea-Bissau': 'GW',
 'Guyana': 'GY',
 'Haiti': 'HT',
 'Heard Island and McDonald Islands': 'HM',
 'Holy See (Vatican City State)': 'VA',
 'Honduras': 'HN',
 'Hong Kong': 'HK',
 'Hungary': 'HU',
 'ISO 3166-2:GB': '(.uk)',
 'Iceland': 'IS',
 'India': 'IN',
 'Indonesia': 'ID',
 'Iran, Islamic Republic of': 'IR',
 'Iraq': 'IQ',
 'Ireland': 'IE',
 'Isle of Man': 'IM',
 'Israel': 'IL',
 'Italy': 'IT',
 'Jamaica': 'JM',
 'Japan': 'JP',
 'Jersey': 'JE',
 'Jordan': 'JO',
 'Kazakhstan': 'KZ',
 'Kenya': 'KE',
 'Kiribati': 'KI',
 "Korea, Democratic People's Republic of": 'KP',
 'Korea, Republic of': 'KR',
 'Kuwait': 'KW',
 'Kyrgyzstan': 'KG',
 "Lao People's Democratic Republic": 'LA',
 'Latvia': 'LV',
 'Lebanon': 'LB',
 'Lesotho': 'LS',
 'Liberia': 'LR',
 'Libya': 'LY',
 'Liechtenstein': 'LI',
 'Lithuania': 'LT',
 'Luxembourg': 'LU',
 'Macao': 'MO',
 'Macedonia, the former Yugoslav Republic of': 'MK',
 'Madagascar': 'MG',
 'Malawi': 'MW',
 'Malaysia': 'MY',
 'Maldives': 'MV',
 'Mali': 'ML',
 'Malta': 'MT',
 'Marshall Islands': 'MH',
 'Martinique': 'MQ',
 'Mauritania': 'MR',
 'Mauritius': 'MU',
 'Mayotte': 'YT',
 'Mexico': 'MX',
 'Micronesia, Federated States of': 'FM',
 'Moldova, Republic of': 'MD',
 'Monaco': 'MC',
 'Mongolia': 'MN',
 'Montenegro': 'ME',
 'Montserrat': 'MS',
 'Morocco': 'MA',
 'Mozambique': 'MZ',
 'Myanmar': 'MM',
 'Namibia': 'NA',
 'Nauru': 'NR',
 'Nepal': 'NP',
 'Netherlands': 'NL',
 'New Caledonia': 'NC',
 'New Zealand': 'NZ',
 'Nicaragua': 'NI',
 'Niger': 'NE',
 'Nigeria': 'NG',
 'Niue': 'NU',
 'Norfolk Island': 'NF',
 'Northern Mariana Islands': 'MP',
 'Norway': 'NO',
 'Oman': 'OM',
 'Pakistan': 'PK',
 'Palau': 'PW',
 'Palestine, State of': 'PS',
 'Panama': 'PA',
 'Papua New Guinea': 'PG',
 'Paraguay': 'PY',
 'Peru': 'PE',
 'Philippines': 'PH',
 'Pitcairn': 'PN',
 'Poland': 'PL',
 'Portugal': 'PT',
 'Puerto Rico': 'PR',
 'Qatar': 'QA',
 'Romania': 'RO',
 'Russian Federation': 'RU',
 'Rwanda': 'RW',
 'Réunion': 'RE',
 'Saint Barthélemy': 'BL',
 'Saint Helena, Ascension and Tristan da Cunha': 'SH',
 'Saint Kitts and Nevis': 'KN',
 'Saint Lucia': 'LC',
 'Saint Martin (French part)': 'MF',
 'Saint Pierre and Miquelon': 'PM',
 'Saint Vincent and the Grenadines': 'VC',
 'Samoa': 'WS',
 'San Marino': 'SM',
 'Sao Tome and Principe': 'ST',
 'Saudi Arabia': 'SA',
 'Senegal': 'SN',
 'Serbia': 'RS',
 'Seychelles': 'SC',
 'Sierra Leone': 'SL',
 'Singapore': 'SG',
 'Sint Maarten (Dutch part)': 'SX',
 'Slovakia': 'SK',
 'Slovenia': 'SI',
 'Solomon Islands': 'SB',
 'Somalia': 'SO',
 'South Africa': 'ZA',
           'Switzerland': 'CH',
           'Sweden': 'SE',
           'Spain': 'ES',
           'Uruguay': 'UY',
           'Ukraine': 'UA',
           'Turkey': 'TR',
           'Uganda': 'UG',
           'Czechia': 'CZ',
           'Tunisia': 'TN',
           'Thailand': 'TH'}

In [85]:
dataset["affiliation"] = dataset["affiliation"].replace(iso_code)
dataset["Countries"] = dataset["Countries"].replace(iso_code)
remove_words = iso_code.values() 
pat = r'\b(?:{})\b'.format('|'.join(remove_words))
dataset['affiliation'] = dataset['affiliation'].str.replace(pat, '')

In [86]:
dataset.head(1)

,doi,pmid,year,number_authors,journal,title,abstract,author,affiliation,Countries
0,10.1111/j.1476-5381.2010.01163.x,21175576,2011,2,Br J Pharmacol,Animal modelling of traumatic brain injury in ...,Traumatic brain injury (TBI) is the leading ca...,Niklas Marklund,Department of Neuroscience Neurosurgery Uppsal...,SE

In [87]:
#dataset.to_csv(name_f, index=False)